/* ========== CONTACT SECTION ========== */

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 50px;
}

/* LEFT INFO */
.contact-info h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 0.3rem;
  text-align: start;
}

.contact-info p {
  color: #6b6b6b;
  margin-bottom: 25px;
  line-height: 1.6;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 12px;
  font-size: 1rem;
}

/* ========== RESPONSIVE ========== */
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-hero-content h3 {
    font-size: 1.25rem;
  }
}
