.admin-layout {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

.admin-sidebar {
  width: 220px;
  background-color: #2c3e50;
  color: white;
  padding: 1rem;
}

.admin-sidebar h2 {
  margin-bottom: 1rem;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  margin: 10px 0;
}

.admin-sidebar a {
  color: white;
  text-decoration: none;
}

.admin-sidebar a:hover {
  text-decoration: underline;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.admin-navbar {
  background-color: #f1f1f1;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.admin-navbar button {
  padding: 6px 12px;
  border: none;
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
}


.content {
  padding: 2rem;
  overflow-y: auto;
}


