.card {
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 10px 25px rgba(43, 30, 22, 0.05);
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.card h3 {
  font-family: "Playfair Display", serif;
  margin: 20px 20px 14px;
  color: #2b1e16;
  font-size: 20px;
}

.card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 24px;
  margin-top: 0px;
}

.card .card-footer .price {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #2b1e16;
  margin: 0;
}

.currency {
  font-size: 14px;
  vertical-align: top;
  margin-right: 2px;
}

.card-footer button {
  background-color: #6f4e37;
  color: #ffffff;
  border: none;
  padding: 8px 18px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-footer button:hover {
  background-color: #5a3d2b;
  box-shadow: 0 6px 15px rgba(111, 78, 55, 0.3);
  transform: translateY(-2px);
}

.menu-slider {
  max-width: 1200px;
  margin: auto;
  /* padding: 20px 0 70px; */
  position: relative;
  overflow: visible;
}

.slick-list {
  overflow: visible;
}

.slick-slide > div {
  padding: 20px 15px;
  height: 100%;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 35px;
  color: #2b1e16 !important;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #2b1e16 !important;
  opacity: 100;
}

.card-image-wrapper {
  position: relative;
  overflow: hidden;
}

/* overlay hidden by default */
.card-hover-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(43, 30, 22, 0.75),
    rgba(43, 30, 22, 0.2)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;

  opacity: 0;
  transform: translateY(15px);
  transition: all 0.35s ease;
}

.card:hover .card-hover-overlay {
  opacity: 1;
  transform: translateY(0);
}

.card-hover-overlay i {
  font-size: 18px;
  color: #f6c453; 
}
