.header {
  width: 100%;
  height: 80px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.header nav {
  display: flex;
  align-items: center;
  padding: 20px 10%;
  justify-content: space-between;
}

.header nav .header-logo {
  color: white;
  font-size: 35px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.header nav ul {
  display: flex;
  align-items: center;
}

.header nav ul li {
  list-style: none;
  margin-left: 25px;
}

.header nav ul li .header-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.header nav ul li .header-link:hover,.header nav ul li i:hover {
  color: brown;
  transform: translateY(-2px);
  cursor: pointer;
}

/* SCROLLED STATE */
.header-scrolled {
  background-color: #f5efe6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-scrolled .header-logo,
.header-scrolled .header-link {
  color: black !important;
}

.header-scrolled .header-link:hover {
  color: #8b4513 !important;
}

.cart-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

/* cart number badge */
.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;

  min-width: 17px;
  height: 20px;

  background-color: #6f4e37;
  color: #ffffff;

  font-size: 12px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  padding: 0 4px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.header-link-scrolled .cart-count {
  background-color: #2b1e16;
}

/****************** navbar drop down *************************/

.signout-btn {
  background-color: #6f4e37;
  color: #ffffff;
  font-size: 14px;
  border: none;
  border-radius: 999px;

  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signout-btn:hover {
  background-color: #5a3d2b;
  color: #ffffff;
  transform: translateY(-2px);
}

.user-icon {
  margin-right: 0px;
  font-size: 16px;
}

/* ACCOUNT DROPDOWN */
.account-menu {
  position: relative;
}

.account-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
}

.header-scrolled .account-btn {
  color: black;
}

.account-dropdown {
  position: absolute;
  top: 100%;
  margin-top: 8px;
  right: 0;
  background: #fff;
  min-width: 160px;
  border-radius: 12px;
  padding: 8px 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  z-index: 1001;
  overflow: hidden;
}

.account-menu:hover .account-dropdown {
  display: block;
}

.account-dropdown a,
.account-dropdown button {
  display: block;
  padding: 10px 16px;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.account-dropdown a:hover,
.account-dropdown button:hover {
  background-color: #f5efe6;
}
