/* sub header section of all pages */
.hero-section-allPages {
  height: 60vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("/assets/MenuImg.jpg");
  background-size: cover;
  background-position: bottom;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-allPages-content {
  text-align: center;
  color: #f5efe6;
  max-width: 600px;
}

.hero-section-allPages-content h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  margin-bottom: 15px;
}

.hero-section-allPages-content p {
  font-size: 1.1rem;
  color: #e0d6cc;
}

.data-section {
  padding: 80px 10%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  padding: 2rem;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

h3 {
  color: #2c1e14;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Playfair Display", serif;
}

label {
  text-align: left;
  font-weight: 600;
  color: #333;
  font-size: 0.85rem;
  margin-bottom: -0.5rem;
}

input,
textarea,
select {
  /* background: #1c1a18; */
  border: 1px solid #d1d1d1;
  padding: 0.6rem;
  border-radius: 8px;
  color: #333;
  transition: border-color 0.2s;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #6f4e37; 
}

form button, .btn {
  background-color: #6f4e37;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  padding: 14px 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}

form button:hover, .btn:hover {
  background-color: #5a3d2b;
  color: #ffffff;
  transform: translateY(-2px);
}

/* dark background form css */
  .login-page, .register-page, .updateUser-page, .admin-login {
  min-height: 100vh;
  background: radial-gradient(circle at top, #2a2623, #1c1a18);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.form {
  width: 100%;
  max-width: 420px;
  background: #2a2623;
  padding: 2rem;
  border-radius: 14px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.form h3 {
  color: #f5efe6;
  margin-bottom: 0.3rem;
}

.form .subtitle {
  color: #c49a6c;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.form label {
  text-align: left;
  color: #f5efe6;
  font-size: 0.85rem;
}

.form input {
  background: #1c1a18;
  border: 1px solid #6f4e37;
  padding: 0.6rem;
  border-radius: 8px;
  color: #f5efe6;
}

.actions a, .actions span {
  text-align: right;
  font-size: 0.9rem;
  color: #d2b48c;
  text-decoration: none;
  cursor: pointer;
}

.actions a:hover, .actions span:hover {
  text-decoration: underline;
}
